/*
red: rgba(216,33,11,1)
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    touch-action: pan-y;
}
.body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255,220,115, .8);
    padding-top: 5em;
    padding-bottom: 1em;
}

.container {
    width: 90%;
    margin: auto;
}

.container .item{
    text-align: center;
}

#timer {
    font-size: 3em;
}

.container .item-container {
    border-radius: 5px;
    margin: .5em;
}

.container .item-container .item-detail{
    border-bottom: 2px solid black;
}

.container .item-container .item-bet{
    font-size: 2.5em;
    font-size: bold;
    height: 1em;
}

.container .item-container .bet-item {
    border: 3px solid #9F8066;
    border-radius: 50%;
    margin-top: .5em;
    background-color: aliceblue;
    width: 100%;
    filter: drop-shadow(0 0 20px #969696);
}

.container .item-container .bet-item img {
    font-size: 100px;
}

#title {
 text-align: center;
}

.bet-item {
    width: 100px;
    cursor: pointer;
}


#login {
    margin: 1em 1em;
}



/* game board design */
.game-board .item-icon {
    padding: .5em;
    border: 1px solid black;
    background-color: blue;
    border-radius: 50%;
}

.animate__pulse {
    background-color: red !important;
}

.bright-item {
    filter: brightness(50%);
    background-color: red !important;
}
.dim-item {
    filter:brightness(50%);
}


.game-board .bet-item {
    margin: 0 !important;
}

#secondary .bet-container {
    margin: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board .red-item {
    background-color: red;
}
/*cash*/
.money-view {
    font-size: 2.5em;
    border: 1px solid black;
    border-radius: .5em;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}
.money-view p{
    line-height: 2em;
    margin:0;
}
.money-view img{
    width: 2em;
}

/*Bet amount design*/
#secondary .bet-container .bet-amount{
    font-size: 2.5em;
    width: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    background: rgb(255, 220, 115);
    background: linear-gradient(90deg, rgba(255, 220, 115, 1) 0%, rgba(189, 141, 0, 1));
    margin: .5em;
}

#secondary .bet-container .bet-amount:hover {
    box-shadow: -3px 2px #888888;
}

#secondary .bet-container .bet-picked {
    background: rgb(249,142,146);
    background: linear-gradient(90deg, rgba(249,142,146,1) 0%, rgba(216,33,11,1) 73%);
    color: aliceblue;
}

/*Result and result item css*/
#result-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 123, 123, 0.7);
    border-radius: .5em;
    color: #f3f3f3;
    line-height: 6em;
    height: 6em;
    text-align: center;
    font-weight: bold;
}

#result-container .text {
    font-size: 1.5em;
}


.result-item {
    border-radius: 50%;
    border: 2px solid black;
    font-size: 2em;
    width: 2.5em;
    height: 2.5em;
    margin: .1em;
    background-color: aliceblue;
}

#result-container .high-yield-item {
    background-color: rgb(255, 220, 115);
}

/* img[data-index='3'] {
    color: rgba(216,33,11,1);
} */

/*result view*/

#last-result-view .result-main-image {
    position: fixed;
    top: 59%;
    left: 40%;
    z-index: 3;
    filter: drop-shadow(0 0 20px #f1f1f1);
}

#last-result-view {
    position: fixed; 
    top: 65%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f3f3f3; 
    width: 100%;
    height: 35%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display:flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

#last-result-view #result-noti {
    width: 15em;
    margin: auto;
    font-size: 1.5em;
    border: .2em dashed rgb(255,207,64);
}



#result-noti .win-amount {
    color:rgb(255, 212, 83);
}

.hiden {
    z-index: -1 !important;
    opacity: 0 !important;
}