<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>Animal Betting Game</h1>
    <p>AnimalGame</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game.js"></script>
</body>
</html>